<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
</head>

<body>
<div class="main-content">
    {{>header}}
    <p>This site is created by Gaurav Singh Bisht. It uses data from mapbox.com and weatherstack app.</p>
    <img class = "portrait" src="/img/myPic.jpg" >
</div>


{{>footer}}
</body>

</html>