<!DOCTYPE html>

<html>

<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-199808260-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-199808260-1');
</script>
    <script src="https://www.googleoptimize.com/optimize.js?id=OPT-5X36ZQ3"></script>


    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
</head>

<body>
<div class="main-content">
    {{>header}}
    <p>This site is created by Gaurav Singh Bisht. It uses data from mapbox.com and weatherstack app.</p>
    <img class = "portrait" src="/img/myPic.jpg" >
</div>


{{>footer}}
</body>

</html>